.title {
    display: flex;
    flex-flow: row nowrap;
    margin-left: calc(50% - 630px);
    margin-top: 20px;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;
    justify-content: center;
}

.leftItems {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 8px;
}

.rightItems {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.scrollableContainer {
    width: 600px;
    display: block;
    height: 75vh;
    max-width: 840px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}