.content {
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;
    justify-content: center;
    position: relative;
    margin-top: 120px;
}

.centerItems {
    width: 480px;
    position: static;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.leftItems {
    width: 320px;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: calc(50% + 240px + 60px);
}

.leftItem {
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
