.content {
    width: 320px;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: calc(50% + 240px + 60px);
}

.item {
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

a {
    cursor: pointer;
}