.scrollableContainer {
    display: block;
    height: 65vh;
    max-width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}
