.header-container {
    background-color: #1C1C21;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 16px 0 16px 0;
}

.button-content {
    display: flex;
    align-items: center;
}

.logo {
    position: static;
}

.left-buttons {
    position: absolute;
    left: 200px;
}

.right-button {
    position: absolute;
    right: 200px;
}

